* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Indie Flower", cursive;
}
ul {
  list-style-type: none;
  padding: 0;
}
button {
  background-color: #089089;
  border: 0;
  height: 5.4%;
  width: 99%;
  margin: 0.5%;
  font-family: "Indie Flower", cursive;
  font-weight: 1000;
  font-size: 130%;
}
button:hover {
  color: #ffffff;
  background-color: #008899;
  transition: 0.3s;
  font-size: 170%;
}
h1 {
  color: #eeeeee;
  text-align: center;
  padding: 3%;
  font-family: "Bangers", cursive;
  letter-spacing: 2;
}
.static {
  width: 20%;
  height: 100%;
  position: fixed;
  background-color: grey;
  top: 0;
  left: 0;
}
.dyn {
  width: 80%;
  height: 100%;
  float: right;
}
.first {
  height: 100%;
  width: 100%;
  padding: 3rem;
  background-color: #cc9900;
  display: table;
  background-attachment: fixed;
  background-size: cover;
}
.second {
  height: 100%;
  width: 100%;
  padding: 3rem;
  background-color: #cc9933;
  background-size: cover;
  display: table;
  background-attachment: fixed;
}
.third {
  height: 100%;
  width: 100%;
  padding: 3rem;
  background-color: #cc9966;
  display: table;
  background-attachment: fixed;
  background-size: cover;
}
.fourth {
  height: 100%;
  width: 100%;
  padding: 3rem;
  background-color: #cc9999;
  display: table;
  background-attachment: fixed;
  background-size: cover;
}
.fifth {
  height: 100%;
  width: 100%;
  padding: 3rem;
  background-color: #cc99cc;
  display: table;
  background-attachment: fixed;
  background-size: cover;
}
.sixth {
  height: 100%;
  width: 100%;
  padding: 3rem;
  background-color: #cc99ff;
  display: table;
  background-attachment: fixed;
  background-size: cover;
}
.seventh {
  height: 100%;
  width: 100%;
  padding: 3rem;
  background-color: #cc99cc;
  display: table;
  background-attachment: fixed;
  background-size: cover;
}
.eighth {
  height: 100%;
  width: 100%;
  padding: 3rem;
  background-color: #cc9999;
  display: table;
  background-attachment: fixed;
  background-size: cover;
}
.ninth {
  height: 100%;
  width: 100%;
  padding: 3rem;
  background-color: #cc9966;
  display: table;
  background-attachment: fixed;
  background-size: cover;
}
.tenth {
  height: 100%;
  width: 100%;
  padding: 3rem;
  background-color: #cc9933;
  display: table;
  background-attachment: fixed;
  background-size: cover;
}
.eleventh {
  height: 100%;
  width: 100%;
  padding: 3rem;
  background-color: #cc9900;
  display: table;
  background-attachment: fixed;
  background-size: cover;
}
.twelfth {
  height: 100%;
  width: 100%;
  padding: 3rem;
  background-color: #cc9933;
  display: table;
  background-attachment: fixed;
  background-size: cover;
}
.thirteenth {
  height: 100%;
  width: 100%;
  padding: 3rem;
  background-color: #cc9966;
  display: table;
  background-attachment: fixed;
  background-size: cover;
}
.fourteenth {
  height: 100%;
  width: 100%;
  padding: 3rem;
  background-color: #cc9999;
  display: table;
  background-attachment: fixed;
  background-size: cover;
}
.fifteenth {
  height: 100%;
  width: 100%;
  padding: 3rem;
  background-color: #cc99cc;
  display: table;
  background-attachment: fixed;
  background-size: cover;
}
.sixteenth {
  height: 100%;
  width: 100%;
  padding: 3rem;
  background-color: #cc99ff;
  display: table;
  background-attachment: fixed;
  background-size: cover;
}
h2 {
  color: white;
  text-align: center;
  vertical-align: text-top;
  margin: 0;
  font-size: 700%;
  font-family: "Bangers", cursive;
  letter-spacing: 2;
  margin-top: 3%;
  text-decoration: underline;
}
pre,
code {
  font-family: monospace, monospace;
  color: white;
  margin: 5%;
  margin-top: 0;
}
pre {
  overflow: auto;
  background-color: black;
  height: 60%;
}
pre > code[class]::before {
  content: attr(class);
  display: block;
  font-size: small;
  font-style: italic;
  color: #6c5f7c;
}
.struc_cont {
  font-family: "Indie Flower", cursive;
  font-size: 200%;
  width: 70%;
  float: left;
}
.struc_code {
  width: 30%;
  float: right;
}
.intro_cont {
  font-family: "Indie Flower", cursive;
  font-size: 200%;
}
